.modalEditUsuario {
    width: 100%;
    height: 385vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperModalUsuario {
    background-color: #fff;
    width: 65%;
    color: #000;
    height: 16%;
    position: absolute;
    top: 4.5%;
    border-radius: 10px;
}

.conteudoUsuario {
    align-items: none;
}

.juntaInputsUsuario {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputUsuario {
    margin: 40px 0;
    height: 30px;
    color: #000;
    background-color: white;
    font-size: 25px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000000;
}

.inputUsuario:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.inputUsuario::placeholder {
    text-align: center;
    font-size: 25px;
    color: #00000048;
}

.btn_editarUsuario {
    width: 30%;
    background-color: #0E758C;
    overflow: visible;
    height: 60px;
    border: none;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn_editarUsuario::after {
    content: none;
}

.btn_editarUsuario:hover {
    opacity: 0.5;
}