* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(196, 196, 196, 0.1);
}

.wrapperVeiculos {
    width: 70%;
    margin: 100px auto;
    height: 70em;
}

.pVeiculo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
}

.addVeiculo {
    background: #0E758C;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 37px;
    display: flex;
    align-items: center;
    width: 170px;
    height: 73px;
    color: #FFFFFF;
}

.addVeiculo:hover {
    opacity: 0.9;
}

.iconPlus {
    margin-right: 12px;
    margin-left: 6px;
}

.cardVeiculoCarrocerias {
    margin-top: 120px;
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etiquetasCarrocerias {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    background-color: gold;
}

.etiquetaCarrocerias {
    width: fit-content;
    height: 42px;
    width: 158px;
    background: #d8d3d3;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.nomeEtiquetaCarrocerias {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0F282D;
    background-color: pink;
}

.alinharEtiquetasCarrocerias {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.iconesEtiquetaCargas {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-e-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.input-e-btn-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 1000px;
}

.iconTrashCan {
    color: red;
}

.iconPenToSquare {
    color: #139FC0;
}

.inputBusca {
    width: 600px;
    background-color: #fff;
    color: #000;
    border: 2px solid #0E758C;
    border-radius: 10px;
    align-items: center;
    height: 73px;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 25px;
    font-weight: 600;

}

.inputBusca::placeholder {
    color: #00000048;
}

.btnBuscar {
    background: #139FC0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    width: 170px;
    height: 73px;
    color: #FFFFFF;
}

.btnBuscar:hover {
    opacity: 0.9;
}

button::after {
    display: none !important;
}

.cabecalhoCarroceria {
    position: relative;
    top: 100px;
    margin-top: 180px;
    width: 80%;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}