.backgroundPreLogin {
    background-color: #0C1829;
    width: 100%;
    height: 100vh;
}

.linksPreLogin {
    width: 100%;
    padding-top: 30px;
}

.divEsqPreLogin {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}

.divDirPreLogin {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.LogoPreLogin {
    width: 86px;
    height: 82px;
    background-image: url("../../assets/imgs/Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.linksPreLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPreLogin {
    font-size: 20px;
    height: 70px;
    width: 170px;
    background-color: #fff;
    color: #0E758C;
    border-radius: 10px;
    border: none;
    padding: 0;
    margin-top: 0;
    margin-right: 70px;
    position: none;
    right: 0;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    filter: drop-shadow(7px 7px 6px rgba(0, 0, 0, 0.6));
}

.btnPreLogin::after {
    content: none;
}

.btnPreLogin:hover {
    color: #0E758C;
}

.h1PreLogin {
    width: 786px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 58px;
    margin: 30px auto 100px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardsPreLogin {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cardPreLogin {
    width: 400px;
    height: 370px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 45px 40px 113px rgba(0, 0, 0, 0.5);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cardPreLogin:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cardPreLogin>p {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.footerPreLogin {
    background-color: unset;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 20px;
}

.img1 {
    width: 200px;
    height: 200px;
    margin: 20px auto 10px;
    background-image: url("../../assets/imgs/IMGCheckList.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    width: 200px;
    height: 200px;
    margin: 20px auto 10px;
    background-image: url("../../assets/imgs/IMGCheckList.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    width: 200px;
    height: 200px;
    margin: 20px auto 10px;
    background-image: url("../../assets/imgs/IMGOCR.png");
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 1660px) {
    .cardsPreLogin {
        width: 90%;
    }
}

@media screen and (max-width: 1410px) {
    .cardPreLogin {
        width: 30%;
    }
}

@media screen and (max-width: 1284px) {
    .backgroundPreLogin {
        height: auto;
    }

    .cardPreLogin {
        width: 30%;
        height: 420px;
    }

    .cardPreLogin>p {
        width: 70%;
    }
}

@media screen and (max-width: 1170px) {
    .cardPreLogin {
        height: 440px;
    }
}

@media screen and (max-width: 1032px) {
    .cardPreLogin {
        height: 470px;
    }
}

@media screen and (max-width: 883px) {
    .cardPreLogin {
        height: 490px;
    }
}

@media screen and (max-width: 809px) {
    .backgroundPreLogin {
        width: 800px;
    }
    .linksPreLogin {
        width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .LogoPreLogin {
        height: 90px;
    }

    .divEsqPreLogin {
        width: 0;
    }

    .cardsPreLogin {
        flex-direction: column;
        height: 1300px;
    }

    .cardPreLogin {
        width: 90%;
        height: 400px;
    }

    .cardPreLogin>p {
        margin-top: 30px;
    }
}

@media screen and (max-width: 787px) {
    .backgroundPreLogin {
        height: auto;
    }

    .h1PreLogin {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .LogoPreLogin {
        width: 100px;
        height: 100px;
    }

    .h1PreLogin {
        width: 600px;
    }

    .btnPreLogin {
        margin-left: 30px;
    }
}

@media screen and (max-width: 540px) {
    .backgroundPreLogin {
        height: 1900px;
    }

}

@media screen and (max-width: 360px) {
    .backgroundPreLogin {
        width: 800px;
        height: 1880px;
    }

    .h1PreLogin {
        width: 500px;
    }
}