.backgroundPreLogin {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.linksPreLogin {
    width: 100%;
    padding-top: 30px;
}

.divEsqPreLogin {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.divDirPreLogin {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.LogoPreLogin {
    width: 86px;
    height: 82px;
    background-image: url("../../assets/imgs/LogoHeader.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.linksPreLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPreLogin {
    font-size: 20px;
    height: 70px;
    width: 170px;
    background-color: #fff;
    color: #0E758C;
    border-radius: 10px;  
    border: none;
    padding: 0;
    margin-top: 0;
    margin-right: 70px;
    position: none;
    right: 0;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btnPreLogin::after {
    content: none;
}

.btnPreLogin:hover{
    color: #0E758C;
}

.third {
    border-color: #0E758C;
    color: #fff;
    box-shadow: 0 0 40px 40px #0E758C inset, 0 0 0 0 #0E758C;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #0E758C inset, 0 0 10px 4px #0E758C;
}