main {
    height: 49vw;
}

.section-perfil {
    background-color: #A4C5FD;
    margin: auto;
    width: 75%;
    height: 60%;
    margin-top: 82px;
    padding: 2vw;
}

.apoioPerfil {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apoioImagemPerfil {
    width: 27%;
    background-color: #A4C5FD;
    border: unset;
}

.apoioImagemPerfil img {
    width: 100%;
    height: auto;
    border-radius: 10vw;
    border: 1px solid #A4C5FD;
}

.apoioForm {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apoioForm form {
    width: 80%;
}

.linhasInputs {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 1.1vw;
    margin-bottom: 1.1vw;
}

#emailInput {
    width: 100%;
}

.linhasInputs input {
    width: 45%;
    margin-right: 2vw;
    height: 2.4vw;
    border-radius: 0.9vw;
    padding-left: 8px;
    font-size: 1.1vw;
}
